:root {
    --dark-background: #0e1015;
    --search-bar-color: rgba(255, 255, 255, 0.18);
    --search-bar-text: #cac7ff;
    --search-bar-placeholder: rgb(217, 217, 218, 0.8);
    --search-icon-background: rgba(141, 150, 200, 0.8);
    
    --card-overlay-color: rgba(50, 50, 50, 0.9);
    --movie-card-text-color: rgb(237, 237, 237, 0.7);


}